@import './../../styles/theme.scss';

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .toggle-theme {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .auth-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    gap: 10px;

    .auth-option {
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color-primary-hover-light);
      }
    }
  }

  // Estilos para dispositivos maiores
  @media (min-width: 768px) {
    .logo {
      width: 200px;
    }

    .title {
      font-size: 36px;
    }

    .auth-options {
      flex-direction: row;
      gap: 0;
    }
  }
}
